<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <script src="https://kit.fontawesome.com/34ad640c13.js" crossorigin="anonymous"></script>
    <link href="/home.css"  rel="stylesheet" type="text/css">

</head>
<body>

    <div id="main-container">
        <h1 class="text-color"  id="app-title">TODO App</h1>  

        <!-- *Separator  -->
        <div class="horizontal-line"></div>

    <!-- <form action="/add-task" method="POST" name="addTask"> -->
        <form action="/add-task" method="POST" name="addTask"> 

        <div id="description">
                <label for="desc-inpput">Description</label>
                <input type="text" id="desc-input" name="description" placeholder="Write in your todo tasks.." required>
        </div>

         <!-- *Separator -->
        <div class="horizontal-line"></div>

        <div id="CatandDate">
            <div id="category">
                <label for="category"> Category </label>
                <select name="category" id="category" >
                    <option value="n/a"> Choose a category </option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="education">Education</option>
                    <option value="hobby">Hobby</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <!-- *Separator -->
            <div class="vertical-line"></div>
            
            <div id="date">
                    <label for="date">Due Date</label>
                    <input type="date" id="date" name="date">
            </div>
        </div>

          <!-- *Separator -->
        <div class="horizontal-line"></div>

        <div id="action-buttons">
             
        <!-- <form action="/add-task"" method="get" name="addTask"></form> -->
            <!-- *button to add a new task and sumbit form -->
             <button id="add-button" type="submit" method="post"> 
                <i class="fas fa-plus"></i>
                <span>Add Tasks</span> 
            </button>
        <!-- </form> -->

           
        </div>

    </form>

     <!-- *button to delete all the selected tasks -->
     <form action="/delete-task" type="button" method="get">
        <button id="delete-button">
            <i class="fas fa-trash"></i>
            <span>Delete Tasks</span>
        </button>
    </form>

        <!-- *lists the task list entered by the user -->
        
        <!-- <form action="/delete-task" method="get"> -->
           
            <div class="taskLists">
                <% for(let i of task_list){ %>
                    <div class="list-of-todo">
                    <div id="checkboxs">
                        <input type="checkbox" name="<%= i.id %>">
                    </div>
                    <div class="des-day">
                        <p id="task-description">
                            <%= i.description %>
                        </p>
                        <div>
                            <i class="fa-solid fa-calendar-days">
                            </i>
                            <p id="due-date">
                                <%= i.date %>
                            </p>
                        </div>
                    </div>
                    <div class="category">
                        <p id="task-category">
                            <%= i.category %>
                        </p>
                    </div>
                </div>
                <% } %>
            </div>
            

        </form>


    
    </div>
 

</body>
</html>